body {
  background-image: linear-gradient(to right, #78f5ae, #fa32cc);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 52px; /* Increase text size */
  color: white; /* Change text color to white */
  padding: 10px; /* Optional: Add padding around the text */
}

form {
  border: 2px solid #a580eb;
  background-color: rgb(189, 139, 255);
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #f4efef;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
